@import url('https://fonts.googleapis.com/css?family=Ruluko|Text+Me+One&subset=latin-ext');

html, body{
    font: 1rem 'Text Me One', sans-serif;
    height: 100%;
    background-color: #e8e8e8;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Ruluko', sans-serif;
}

.banner {
    background: url("../img/banner.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 55vh;
}

.navbar {
    padding: 1rem 1rem;
}

#navigation {
    letter-spacing: 1px;
}

#navigation div a {
    margin-left: 4px;
    margin-right: 4px;
    color: azure;
}

.btn{
    border-radius: 0;
    padding: .5rem .75rem;
}

.btn-primary, .btn-primary:hover, .btn-outline-primary:hover {
    background-color: #EF7F2E;
    border-color: #EF7F2E;
}

.btn-outline-primary {
    border-color: #EF7F2E;
}

.search-widget {
    position: relative;
    width: 80%;
    height: 200px;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 33vh;
    box-shadow: -2px 2px 5px thistle;
}

.search-widget h3 {
    color: black;
    padding: 2rem;
}

.search-widget .form-control {
    border-radius: 0;
}

#search-event {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#search-category, #search-date, #search-event, #search-location {
    box-shadow: none;
    border: 1px #D2D6DF solid;
    border-right: none;
}

#search-date, #search-category {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background: white url("../img/chevron-down.svg") no-repeat 95% 55%;
    width: 200px;
}

#search-date::-ms-expand, #search-category::-ms-expand {
    display: none;
}

#search-date:focus, #search-category:focus, #search-event:focus, #search-location:focus {
    border-color: #EF7F2E;
    border-right: 1px solid #EF7F2E;
}

#search-submit {
    padding: .4rem 2.5rem;
    height: 36px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#mainav .logo {
    background: url('../img/Kromevents5_1.svg') no-repeat;
    vertical-align: middle;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 148px;
    height: 26px;

}

.text-primary {
    color: #EF7F2E !important;
    margin-bottom: .5rem;
}

main.container {
    padding-top: 150px;
    width: 100%;
    /* padding-left: 0;
    padding-right: 0; */
}

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 840px), (max-height: 596px){
    .search-widget {
        display: none;
    }

    .banner {
        height: 9vh;
        background: none;
    }

    #mainav {
        background: #630480;
        box-shadow: 1px 1px 2px #EF7F2E;
        height: 70px;
    }

    #mainav .logo {
        background: url('../img/Kromevents3_1.svg') no-repeat;
        width: 164px;
        height: 31px;
    }

    @media only screen and (max-width: 990px) {
        #mainav #navigation .navbar-nav {
            width: 200px;
            text-align: right;
            background: #630480;
            position: absolute;
            padding: 1rem;
            right: 0;
            box-shadow: -2px 2px 3px #EF7F2E;
        }   
    }
}

@media only screen and (max-height: 520px) {
    main.container {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1150px) {
    .search-widget {
        height: 230px;
        width: 50%;
        margin: 0 auto;
        margin-top: 10vh;
    }

    .search-widget h3{ 
        padding-bottom: 1rem;
        padding-top: 1rem; 
    }

    .search-widget form {
        display: grid;
        grid-template-areas:
            'event category'
            'location date'
            'submit submit';
        grid-gap: 10px;
    }

    #search-submit {
        grid-area: submit;
        border-radius: 0;
    }

    #search-event { grid-area: event; }
    #search-location { grid-area: location; }
    #search-date { grid-area: date; }
    #search-category { grid-area: category; }

    #search-event, #search-category, #search-location, #search-date {
        border-radius: 0;
        border: 1px #D2D6DF solid;
    }

    @media only screen and (max-height: 700px){
        .search-widget {
            margin-top: 4vh;
        }
    }
}

@media only screen and (min-width: 1151px)and (max-width: 1200px) {
    .search-widget {
        margin-top: 8vh;
    }
}